scripts/__pycache__/compute_cl.cpython-310.pyc
scripts/__pycache__/compute_covariance.cpython-310.pyc
scripts/__pycache__/mask_maps.cpython-310.pyc
scripts/__pycache__/compute_cl.cpython-310.pyc
scripts/__pycache__/compute_covariance.cpython-310.pyc
scripts/__pycache__/mask_maps.cpython-310.pyc
