scripts/__pycache__/compute_cl.cpython-310.pyc
scripts/__pycache__/compute_covariance.cpython-310.pyc
scripts/__pycache__/mask_maps.cpython-310.pyc
scripts/__pycache__/compute_cl.cpython-310.pyc
scripts/__pycache__/compute_covariance.cpython-310.pyc
scripts/__pycache__/mask_maps.cpython-310.pyc
Notebooks_1/cal_hi_cov_mK.npy
Notebooks_1/cal_hi_cov.npy
Notebooks_1/HI_map_cal.npy
results/dec_fgds.npy
results/dec_hi.npy
results/dec_noise.npy
results/dec_sky.npy
results/rotated_fgds.npy
results/rotated_hi.npy
results/rotated_noise.npy
results/rotated_sky.npy
scripts/__pycache__/compute_cl.cpython-310.pyc
scripts/__pycache__/compute_covariance.cpython-310.pyc
scripts/__pycache__/mask_maps.cpython-310.pyc
data/cal_hi_cov_mK.npy
data/cal_hi_cov.npy
data/dec_fgds.npy
data/dec_hi.npy
data/dec_noise.npy
data/dec_sky.npy
data/HI_map_cal.npy
data/hi_maps_mK.npy
data/noise_cov.npy
data/noise_maps.npy
data/rotated_fgds.npy
data/rotated_hi.npy
data/rotated_noise.npy
data/rotated_sky.npy
data/smoothed_ff_maps.npy
data/smoothed_hi_maps.npy
data/smoothed_sync_maps.npy
scripts/__pycache__/compute_cl.cpython-310.pyc
scripts/__pycache__/compute_cl.cpython-313.pyc
scripts/__pycache__/compute_covariance.cpython-313.pyc
scripts/__pycache__/compute_decoupled_cl.cpython-313.pyc
scripts/__pycache__/compute_master.cpython-313.pyc
scripts/__pycache__/mask_maps.cpython-310.pyc
scripts/__pycache__/mask_maps.cpython-313.pyc
scripts/__pycache__/patch_mask.cpython-310.pyc
scripts/__pycache__/patch_mask.cpython-313.pyc
tex.ipynb
